body {
    background-color: cadetblue;
}

#background-img {
    background-image: url(../img/truskawka.jpg);
    background-repeat: repeat-y;
    background-position: top center;
    background-size: 20%;
    background-attachment: fixed;
}