.flex-item {
    color: teal;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    margin: 3px;
    background-color: lightcyan;
    flex-basis: 27%;
    max-height: 250px; 
    }

.flex-item:nth-last-of-type(odd) {
    background-color: lightpink;
    /*max-height: 150px; */
    overflow: hidden;
  }

.container {
    border: 2px dashed rgba(0, 204, 255, 0.932);
    display: flex;
    flex-wrap: wrap; 
}

.ordered-item {
  order: 2;
}