* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, sans-serif;
    color: #fff;
    }
@media screen and (min-width: 1171px) {
    .main-header {
        background-image: url(../img/man-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 210vh;
        margin: 0;
        padding: 0;
    }
    div {
        text-align: left;
        padding: 20% 0;
        margin-left: 2%;
        font-size: 20px;
    }
}
@media screen and (min-width:993px) and (max-width: 1170px) {
    .main-header {
        background-image: url(../img/man-2.jpg);
        background-size: cover;
        height: 60vh;
        width: 85vh;
    }
    div {
        text-align: left;
        padding: 15% 0;
        margin-left: 60%;
    }
}
@media screen and (max-width:992px) {
    .main-header {
        background-image: url(../img/man-1.jpg);
        background-size: contain;
        width: 75vh;
        height: 45vh;
    }
    div {
        text-align: center;
        color: black;
        padding: 60% 0;
        margin-left: -10vh;
    }
}