* {
    box-sizing: border-box;
}
body {
    color: #fff;
        }
header {
    background-color: red;
    text-align: center;
    margin-top: 0;
    padding: 0;
}
h1,h2 {
    margin:0;
}
@media screen and (min-width:993px) {
.flex-container {
    display: flex;
    margin:0;
    padding:0;
    height: 50vh;
    text-align: center;
}
.flex-item-main {
    background-color: skyblue;
    flex-basis: 50%;
    text-transform: uppercase;
}
.flex-item-left {
    background-color: green;
    flex-basis: 25%;
}
.flex-item-right {
    background-color: pink;
    flex-basis: 25%;
}
footer {
    background-color: purple;
    text-align: center;
    margin: 0;
    padding: 0;
}
}
@media screen and (min-width:769px) and (max-width:992px) {
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        margin:0;
        padding:0;
        height: 50vh;
        text-align: center;
    }
    .flex-item-main {
        background-color: skyblue;
        flex-basis: 80%;
        text-transform: uppercase;
        order: 1;
    }
    .flex-item-left {
        background-color: green;
        flex-basis: 100%;
        order:3;
    }
    .flex-item-right {
        background-color: pink;
        flex-basis: 20%;
        order: 2;
    }
    footer {
        background-color: purple;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    }
    @media screen and (max-width:768px) {
        .flex-container {
            display: flex;
            flex-direction: column;
            margin:0;
            padding:0;
            height: 50vh;
            text-align: center;
        }
        .flex-item-main {
            background-color: skyblue;
            flex-basis: 100%;
            text-transform: uppercase;
            order: 1;
        }
        .flex-item-left {
            background-color: green;
            flex-basis: 100%;
            order: 2;
        }
        .flex-item-right {
            background-color: pink;
            flex-basis: 100%;
            order: 3;
        }
        footer {
            background-color: purple;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        }