* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #777;
    padding: 0;
    margin: 0;
}
section {
    text-align: center;
    padding: 5% 0;
}
section header {
    margin-bottom: 75px;
}
.main-header {
    height: 70vh;
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-header-content {
    padding: 10% 0px;
}
.main-header-content h1 {
    font-size: 4em;
    text-transform: uppercase;
    margin: 0;
    color: #007bff;
}
.main-header-content p{
    font-size: 1.5em;
    margin: 40px 0;
    color: #333;
}
.main-header-content span {
    color: #007bff;
}
.button {
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #007bff;
    margin: auto;
    display: inline-block;
    padding: 15px 20px;
    transition: all 1s;
    color: #333;
    background-color: transparent;
}
.button:hover {
    background-color: #007bff;
    color: #fff;
}
hr {
    background-color: #007bff;
    width: 100px;
    height: 1px;
    border: 0;
}
h2 {
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
}
nav {
    background-color: #007bff;
    text-align: center;
    padding: 5px 5px;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
     }

nav li {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    }
.about-image {
        border-radius: 50%;
        max-width: 450px;
        max-height: 450px;
    }
.about p {
    max-width: 700px;
    margin: 40px auto 30px auto;
}
#portfolio {
    background-color: #f2f1ed;
}
#portfolio h3 {
    display: none;
}
.portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15vh;
}
.portfolio-item {
    flex-basis: 25%;
    height: 200px;
    margin: 0;
    position: relative;
}
.portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.portfolio-wrapper a {
    display: inline-block;
}
form input[type="text"], form input[type="email"] {
    width: 200px;
    background-color:#fff;
    color: #333;
    border: 1px solid  #777;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0;
}
form textarea {
    width: 405px;
    border: 1px solid #777;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-bottom: 10px;
}
form input[type="submit"]{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    border: 1px solid #007bff;
    margin: auto;
    display: inline-block;
    padding: 15px 20px;
    transition: all 1s;
    color: #333;
    background-color: transparent;
    margin-bottom: 20px;
}
form input[type="submit"]:hover {
    background-color: #007bff;
    color: #fff;
}
.social-links a {
    height: 20px;
    width: 20px;
    color: #007bff;
    padding: 1%;
}
.social-links a:hover {
    color:  #777;
}
footer {
    background-color: #f2f1ed;
    padding: 30px;
    text-align: center;
}